<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @pet.name %>
</p>
<p>
  <strong>Raza:</strong>
  <%= @pet.race %>
</p>
<p>
  <strong>Fecha nacimiento:</strong>
  <%= @pet.birthdate %>
</p>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Peso promedio</th>
      <th>Altura promedio</th>
      <th>Peso Máximo</th>
      <th>Altura Máxima</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_heigth %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Peso</th>
      <th>Altura</th>
      <th>Fecha Visitas</th>
    </tr>
  </thead>
  <tbody>
      <% @pet.pet_histories.each do |history| %>
      <tr>
      <td><%= history.weight %></td>
        <td><%= history.heigth %></td>
         <td><%=history.created_at.year%>/<%=history.created_at.month%>/<%=history.created_at.day%></td>
         </tr>                
        <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
